body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav li:active a{
    color: #088C19;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #C78C19;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos h2{
    font-size: 28px;
    font-weight: bold;
}

.produtos li:hover h2{
    font-size: 32px;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("/img/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px
}

.alinhamento{
    width: 940px;
    margin: 30px auto 0;

}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 5px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 15px 535px 40px;
    position: relative;
    display: inline;
    bottom: 285px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 10px 15px;
}

/* CSS da página inicial*/

.banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}


.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios{
    padding: 3em 0;
    background: #888888;
}

#titulo-beneficios{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 8px;
}

.itens{
    line-height: 1.5;
}

.itens:before{
    content: "★ ";
}

.itens:first-child{
    font-weight: bold;
    content: none;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imgbeneficio{
    width: 60%;
    opacity: 1;
    transition: 700ms;
    box-shadow: 10px 10px 10px black;
}

.imgbeneficio:hover{
    opacity: 0.5;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    padding: 0 0 2em;
    text-align: center;
}

.video{
    width: 560px;
    margin: 2em auto;
}

/* Transformando para celular */

@media screen and (max-width: 480px) { 
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position:static;
        text-align: center;
    }

    .imgbeneficio {
        width: 100%
    }

    .lista-beneficios{
        width: auto;
        margin-left: 15px;
    }

    .produtos{
        display: inline;
    }

    .produtos li{
        margin: 40px 0 40px 60px;
        width: 70%;
    }

    .alinhamento{
        width: 70%;
        margin: 0 0 10px 0px;
        margin: 20px 0 10px 20px;
    }

    .input-padrao{
        width: 100%;
        margin: 0 0 20px 20px;
    }

    .enviar{
        margin-top: 20px;
    }

    table{
        position: static;
        margin: auto;
        padding-left: 200px;
    }

    footer{
        margin-top: 20px;
    }

}
